security:
    # https://symfony.com/doc/current/security.html#registering-the-user-hashing-passwords
    password_hashers:
        Symfony\Component\Security\Core\User\PasswordAuthenticatedUserInterface: 'auto'
        App\Entity\Usuario:
            algorithm: auto

    # https://symfony.com/doc/current/security.html#loading-the-user-the-user-provider
    providers:
        # used to reload user from session & other features (e.g. switch_user)
        app_user_provider:
            entity:
                class: App\Entity\Usuario
                property: email

    firewalls:
        dev:
            pattern: ^/(_(profiler|wdt)|css|images|js)/
            security: false

        # Rutas de autenticación (públicas)
        login:
            pattern: ^/api/(login|register|hash-passwords)
            stateless: true
            security: false

        # Rutas públicas (sin autenticación) - TODO: Restringir en producción
        public:
            pattern: ^/api/(planes|dietas|ejercicios|entrenamientos|platos|alimentos|entrenadores|custom)
            stateless: true
            security: false

        # API principal (requiere JWT)
        api:
            pattern: ^/api
            stateless: true
            jwt: ~

        main:
            lazy: true
            provider: app_user_provider

    # Easy way to control access for large sections of your site
    # Note: Only the *first* access control that matches will be used
    access_control:
        # Rutas públicas - cualquiera puede acceder
        - { path: ^/api/login, roles: PUBLIC_ACCESS }
        - { path: ^/api/register, roles: PUBLIC_ACCESS }
        - { path: ^/api/hash-passwords, roles: PUBLIC_ACCESS }
        
        # Contenido público (TODO: Revisar en producción)
        - { path: ^/api/planes, roles: PUBLIC_ACCESS }
        - { path: ^/api/dietas, roles: PUBLIC_ACCESS }
        - { path: ^/api/ejercicios, roles: PUBLIC_ACCESS }
        - { path: ^/api/entrenamientos, roles: PUBLIC_ACCESS }
        - { path: ^/api/platos, roles: PUBLIC_ACCESS }
        - { path: ^/api/alimentos, roles: PUBLIC_ACCESS }
        - { path: ^/api/entrenadores, roles: PUBLIC_ACCESS }
        - { path: ^/api/custom, roles: PUBLIC_ACCESS }
        
        # Rutas que requieren autenticación (deshabilitado temporalmente para desarrollo)
        # TODO: Habilitar en producción
        # - { path: ^/api, roles: IS_AUTHENTICATED_FULLY }

when@test:
    security:
        password_hashers:
            # By default, password hashers are resource intensive and take time. This is
            # important to generate secure password hashes. In tests however, secure hashes
            # are not important, waste resources and increase test times. The following
            # reduces the work factor to the lowest possible values.
            Symfony\Component\Security\Core\User\PasswordAuthenticatedUserInterface:
                algorithm: auto
                cost: 4 # Lowest possible value for bcrypt
                time_cost: 3 # Lowest possible value for argon
                memory_cost: 10 # Lowest possible value for argon