security:
    password_hashers:
        Symfony\Component\Security\Core\User\PasswordAuthenticatedUserInterface: 'auto'
        App\Entity\Usuario:
            algorithm: auto

    providers:
        app_user_provider:
            entity:
                class: App\Entity\Usuario
                property: email

    firewalls:
        dev:
            pattern: ^/(_(profiler|wdt)|css|images|js)/
            security: false

        login:
            pattern: ^/api/(login|register|reset-passwords)
            stateless: true
            security: false

        public:
            pattern: ^/api/(planes|dietas|ejercicios|entrenamientos|platos|alimentos|entrenadores|entrenador|custom|debug|usuario)
            stateless: true
            security: false

        # TODO: Aplicar JWT aquí cuando esté configurado correctamente
        api:
            pattern: ^/api
            stateless: true
            security: false

        main:
            lazy: true
            provider: app_user_provider