services:
    _defaults:
        autowire: true
        autoconfigure: true

    App\:
        resource: '../src/'
        exclude:
            - '../src/DependencyInjection/'
            - '../src/Entity/'
            - '../src/Kernel.php'

    # HANDLER DE ÉXITO PARA USUARIOS - Devuelve datos completos del usuario
    App\Security\UsuarioLoginSuccessHandler:
        decorates: lexik_jwt_authentication.handler.authentication_success
        arguments:
            $inner: '@App\Security\UsuarioLoginSuccessHandler.inner'
            $repo: '@App\Repository\UsuarioRepository'
        public: true

    # HANDLER DE ÉXITO PARA ENTRENADORES - Decora el handler de usuarios
    App\Security\EntrenadorLoginSuccessHandler:
        decorates: App\Security\UsuarioLoginSuccessHandler
        arguments:
            $inner: '@App\Security\EntrenadorLoginSuccessHandler.inner'
            $repo: '@App\Repository\EntrenadorRepository'
        public: true
