-- MySQL dump 10.13  Distrib 8.0.44, for Linux (x86_64)
--
-- Host: localhost    Database: ultimatefitness_db
-- ------------------------------------------------------
-- Server version	8.0.44

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!50503 SET NAMES utf8mb4 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;

--
-- Table structure for table `alimentos`
--

DROP TABLE IF EXISTS `alimentos`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `alimentos` (
  `id` int NOT NULL AUTO_INCREMENT,
  `nombre` varchar(150) COLLATE utf8mb4_unicode_ci NOT NULL,
  `tipo_alimento` enum('proteina','carbohidrato','grasa','verdura','fruta','lacteo','bebida','complemento') COLLATE utf8mb4_unicode_ci NOT NULL,
  `descripcion` text COLLATE utf8mb4_unicode_ci,
  `calorias` decimal(8,2) NOT NULL,
  `proteinas` decimal(6,2) NOT NULL,
  `carbohidratos` decimal(6,2) NOT NULL,
  `grasas` decimal(6,2) NOT NULL,
  `precio_kg` decimal(6,2) NOT NULL,
  `imagen_url` varchar(500) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `idx_nombre` (`nombre`),
  KEY `idx_tipo` (`tipo_alimento`)
) ENGINE=InnoDB AUTO_INCREMENT=58 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `alimentos`
--

LOCK TABLES `alimentos` WRITE;
/*!40000 ALTER TABLE `alimentos` DISABLE KEYS */;
/*!40000 ALTER TABLE `alimentos` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `blog_posts`
--

DROP TABLE IF EXISTS `blog_posts`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `blog_posts` (
  `id` int NOT NULL AUTO_INCREMENT,
  `titulo` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `slug` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `extracto` text COLLATE utf8mb4_unicode_ci,
  `contenido` longtext COLLATE utf8mb4_unicode_ci NOT NULL,
  `imagen_portada` varchar(500) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `categoria` enum('nutricion','entrenamiento','salud','motivacion','recetas','noticias','premium') COLLATE utf8mb4_unicode_ci DEFAULT 'noticias',
  `etiquetas` json DEFAULT NULL,
  `meta_descripcion` varchar(160) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `meta_keywords` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `estado` enum('borrador','publicado','archivado') COLLATE utf8mb4_unicode_ci DEFAULT 'borrador',
  `destacado` tinyint(1) DEFAULT '0',
  `autor_id` int DEFAULT NULL,
  `autor_nombre` varchar(100) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `vistas` int DEFAULT '0',
  `me_gusta` int DEFAULT '0',
  `fecha_publicacion` datetime DEFAULT NULL,
  `fecha_creacion` datetime DEFAULT CURRENT_TIMESTAMP,
  `fecha_actualizacion` datetime DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`),
  UNIQUE KEY `slug` (`slug`),
  KEY `idx_estado` (`estado`),
  KEY `idx_categoria` (`categoria`),
  KEY `idx_destacado` (`destacado`),
  KEY `idx_fecha_publicacion` (`fecha_publicacion`),
  KEY `idx_slug` (`slug`),
  KEY `autor_id` (`autor_id`),
  CONSTRAINT `blog_posts_ibfk_1` FOREIGN KEY (`autor_id`) REFERENCES `usuarios` (`id`) ON DELETE SET NULL
) ENGINE=InnoDB AUTO_INCREMENT=9 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `blog_posts`
--

LOCK TABLES `blog_posts` WRITE;
/*!40000 ALTER TABLE `blog_posts` DISABLE KEYS */;
/*!40000 ALTER TABLE `blog_posts` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `calendario_usuario`
--

DROP TABLE IF EXISTS `calendario_usuario`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `calendario_usuario` (
  `id` int NOT NULL AUTO_INCREMENT,
  `usuario_id` int NOT NULL,
  `dieta_id` int DEFAULT NULL,
  `entrenamiento_id` int DEFAULT NULL,
  `dia_semana` enum('lunes','martes','miercoles','jueves','viernes','sabado','domingo') COLLATE utf8mb4_unicode_ci NOT NULL,
  `completado` tinyint(1) DEFAULT '0',
  `fecha_asignacion` date NOT NULL,
  `notas` text COLLATE utf8mb4_unicode_ci,
  PRIMARY KEY (`id`),
  UNIQUE KEY `unique_usuario_dia` (`usuario_id`,`dia_semana`),
  KEY `idx_usuario` (`usuario_id`),
  KEY `idx_dieta` (`dieta_id`),
  KEY `idx_entrenamiento` (`entrenamiento_id`),
  KEY `idx_dia` (`dia_semana`),
  CONSTRAINT `calendario_usuario_ibfk_1` FOREIGN KEY (`usuario_id`) REFERENCES `usuarios` (`id`) ON DELETE CASCADE,
  CONSTRAINT `calendario_usuario_ibfk_2` FOREIGN KEY (`dieta_id`) REFERENCES `dietas` (`id`) ON DELETE SET NULL,
  CONSTRAINT `calendario_usuario_ibfk_3` FOREIGN KEY (`entrenamiento_id`) REFERENCES `entrenamientos` (`id`) ON DELETE SET NULL
) ENGINE=InnoDB AUTO_INCREMENT=36 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `calendario_usuario`
--

LOCK TABLES `calendario_usuario` WRITE;
/*!40000 ALTER TABLE `calendario_usuario` DISABLE KEYS */;
INSERT INTO `calendario_usuario` VALUES (22,1,4,NULL,'lunes',0,'2025-11-29',NULL),(23,1,4,NULL,'martes',0,'2025-11-29',NULL),(24,1,4,NULL,'miercoles',0,'2025-11-29',NULL),(25,1,4,NULL,'jueves',0,'2025-11-29',NULL),(26,1,4,NULL,'viernes',0,'2025-11-29',NULL),(27,1,4,NULL,'sabado',0,'2025-11-29',NULL),(28,1,4,NULL,'domingo',0,'2025-11-29',NULL);
/*!40000 ALTER TABLE `calendario_usuario` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `dieta_alimentos`
--

DROP TABLE IF EXISTS `dieta_alimentos`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `dieta_alimentos` (
  `id` int NOT NULL AUTO_INCREMENT,
  `dieta_id` int NOT NULL,
  `alimento_id` int NOT NULL,
  `plato_id` int DEFAULT NULL,
  `dia_semana` enum('lunes','martes','miercoles','jueves','viernes','sabado','domingo') COLLATE utf8mb4_unicode_ci NOT NULL,
  `tipo_comida` enum('desayuno','media_manana','almuerzo','merienda','cena','post_entreno') COLLATE utf8mb4_unicode_ci NOT NULL,
  `nombre_plato` varchar(150) COLLATE utf8mb4_unicode_ci NOT NULL,
  `cantidad_gramos` int NOT NULL,
  `valoracion_promedio` decimal(3,2) DEFAULT '0.00',
  `total_valoraciones` int DEFAULT '0',
  `orden` int DEFAULT '1',
  PRIMARY KEY (`id`),
  KEY `idx_dieta` (`dieta_id`),
  KEY `idx_alimento` (`alimento_id`),
  KEY `idx_dia_tipo` (`dia_semana`,`tipo_comida`),
  KEY `idx_valoracion` (`valoracion_promedio`),
  KEY `idx_plato` (`plato_id`),
  CONSTRAINT `dieta_alimentos_ibfk_1` FOREIGN KEY (`dieta_id`) REFERENCES `dietas` (`id`) ON DELETE CASCADE,
  CONSTRAINT `dieta_alimentos_ibfk_2` FOREIGN KEY (`alimento_id`) REFERENCES `alimentos` (`id`) ON DELETE CASCADE,
  CONSTRAINT `dieta_alimentos_ibfk_3` FOREIGN KEY (`plato_id`) REFERENCES `platos` (`id`) ON DELETE SET NULL
) ENGINE=InnoDB AUTO_INCREMENT=37 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `dieta_alimentos`
--

LOCK TABLES `dieta_alimentos` WRITE;
/*!40000 ALTER TABLE `dieta_alimentos` DISABLE KEYS */;
/*!40000 ALTER TABLE `dieta_alimentos` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `dietas`
--

DROP TABLE IF EXISTS `dietas`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `dietas` (
  `id` int NOT NULL AUTO_INCREMENT,
  `nombre` varchar(150) COLLATE utf8mb4_unicode_ci NOT NULL,
  `descripcion` text COLLATE utf8mb4_unicode_ci,
  `creador_id` int NOT NULL,
  `calorias_totales` int DEFAULT NULL,
  `proteinas_totales` decimal(8,2) DEFAULT NULL,
  `carbohidratos_totales` decimal(8,2) DEFAULT NULL,
  `grasas_totales` decimal(8,2) DEFAULT NULL,
  `es_publica` tinyint(1) DEFAULT '1',
  `valoracion_promedio` decimal(3,2) DEFAULT '0.00',
  `total_valoraciones` int DEFAULT '0',
  `fecha_creacion` datetime DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`),
  KEY `idx_creador` (`creador_id`),
  KEY `idx_publica` (`es_publica`),
  KEY `idx_valoracion` (`valoracion_promedio`),
  CONSTRAINT `dietas_ibfk_1` FOREIGN KEY (`creador_id`) REFERENCES `entrenadores` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=6 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `dietas`
--

LOCK TABLES `dietas` WRITE;
/*!40000 ALTER TABLE `dietas` DISABLE KEYS */;
/*!40000 ALTER TABLE `dietas` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `ejercicios`
--

DROP TABLE IF EXISTS `ejercicios`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `ejercicios` (
  `id` int NOT NULL AUTO_INCREMENT,
  `nombre` varchar(150) COLLATE utf8mb4_unicode_ci NOT NULL,
  `tipo` enum('gym','workout','cardio','funcional','movilidad') COLLATE utf8mb4_unicode_ci NOT NULL,
  `grupo_muscular` varchar(100) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `descripcion` text COLLATE utf8mb4_unicode_ci,
  `video_url` varchar(500) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `nivel_dificultad` enum('principiante','intermedio','avanzado') COLLATE utf8mb4_unicode_ci DEFAULT 'intermedio',
  `valoracion_promedio` decimal(3,2) DEFAULT '0.00',
  `total_valoraciones` int DEFAULT '0',
  PRIMARY KEY (`id`),
  KEY `idx_tipo` (`tipo`),
  KEY `idx_nivel` (`nivel_dificultad`),
  KEY `idx_grupo` (`grupo_muscular`)
) ENGINE=InnoDB AUTO_INCREMENT=31 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `ejercicios`
--

LOCK TABLES `ejercicios` WRITE;
/*!40000 ALTER TABLE `ejercicios` DISABLE KEYS */;
/*!40000 ALTER TABLE `ejercicios` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `entrenadores`
--

DROP TABLE IF EXISTS `entrenadores`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `entrenadores` (
  `id` int NOT NULL AUTO_INCREMENT,
  `nombre` varchar(100) COLLATE utf8mb4_unicode_ci NOT NULL,
  `apellidos` varchar(150) COLLATE utf8mb4_unicode_ci NOT NULL,
  `email` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `password_hash` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `telefono` varchar(20) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `especialidad` enum('nutricion','entrenamiento','ambos') COLLATE utf8mb4_unicode_ci NOT NULL DEFAULT 'ambos',
  `certificacion` text COLLATE utf8mb4_unicode_ci,
  `anos_experiencia` int DEFAULT '0',
  `biografia` text COLLATE utf8mb4_unicode_ci,
  `cv_url` varchar(500) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `foto_url` varchar(500) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `valoracion_promedio` decimal(3,2) DEFAULT '0.00',
  `total_valoraciones` int DEFAULT '0',
  `precio_sesion_presencial` decimal(6,2) DEFAULT '35.00',
  `activo` tinyint(1) DEFAULT '1',
  `estado_aplicacion` enum('pendiente','aprobado','rechazado') COLLATE utf8mb4_unicode_ci DEFAULT 'aprobado',
  `motivo_rechazo` text COLLATE utf8mb4_unicode_ci,
  `fecha_aplicacion` datetime DEFAULT NULL,
  `revisado_por` int DEFAULT NULL,
  `fecha_registro` datetime DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`),
  UNIQUE KEY `email` (`email`),
  KEY `idx_email` (`email`),
  KEY `idx_activo` (`activo`),
  KEY `idx_valoracion` (`valoracion_promedio`),
  KEY `idx_estado_aplicacion` (`estado_aplicacion`),
  KEY `idx_anos_experiencia` (`anos_experiencia`)
) ENGINE=InnoDB AUTO_INCREMENT=12 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `entrenadores`
--

LOCK TABLES `entrenadores` WRITE;
/*!40000 ALTER TABLE `entrenadores` DISABLE KEYS */;
/*!40000 ALTER TABLE `entrenadores` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `entrenamiento_ejercicios`
--

DROP TABLE IF EXISTS `entrenamiento_ejercicios`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `entrenamiento_ejercicios` (
  `id` int NOT NULL AUTO_INCREMENT,
  `entrenamiento_id` int NOT NULL,
  `ejercicio_id` int NOT NULL,
  `orden` int NOT NULL,
  `series` int DEFAULT NULL,
  `repeticiones` varchar(20) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `descanso_segundos` int DEFAULT NULL,
  `notas` text COLLATE utf8mb4_unicode_ci,
  PRIMARY KEY (`id`),
  UNIQUE KEY `unique_entreno_ejercicio_orden` (`entrenamiento_id`,`orden`),
  KEY `idx_entrenamiento` (`entrenamiento_id`),
  KEY `idx_ejercicio` (`ejercicio_id`),
  CONSTRAINT `entrenamiento_ejercicios_ibfk_1` FOREIGN KEY (`entrenamiento_id`) REFERENCES `entrenamientos` (`id`) ON DELETE CASCADE,
  CONSTRAINT `entrenamiento_ejercicios_ibfk_2` FOREIGN KEY (`ejercicio_id`) REFERENCES `ejercicios` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `entrenamiento_ejercicios`
--

LOCK TABLES `entrenamiento_ejercicios` WRITE;
/*!40000 ALTER TABLE `entrenamiento_ejercicios` DISABLE KEYS */;
/*!40000 ALTER TABLE `entrenamiento_ejercicios` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `entrenamientos`
--

DROP TABLE IF EXISTS `entrenamientos`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `entrenamientos` (
  `id` int NOT NULL AUTO_INCREMENT,
  `nombre` varchar(150) COLLATE utf8mb4_unicode_ci NOT NULL,
  `descripcion` text COLLATE utf8mb4_unicode_ci,
  `tipo` enum('gym','workout','hiit','cardio','funcional') COLLATE utf8mb4_unicode_ci NOT NULL,
  `creador_id` int NOT NULL,
  `duracion_minutos` int DEFAULT NULL,
  `nivel_dificultad` enum('principiante','intermedio','avanzado') COLLATE utf8mb4_unicode_ci DEFAULT 'intermedio',
  `es_publico` tinyint(1) DEFAULT '1',
  `valoracion_promedio` decimal(3,2) DEFAULT '0.00',
  `total_valoraciones` int DEFAULT '0',
  `fecha_creacion` datetime DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`),
  KEY `idx_creador` (`creador_id`),
  KEY `idx_tipo` (`tipo`),
  KEY `idx_publico` (`es_publico`),
  KEY `idx_nivel` (`nivel_dificultad`),
  CONSTRAINT `entrenamientos_ibfk_1` FOREIGN KEY (`creador_id`) REFERENCES `entrenadores` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=13 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `entrenamientos`
--

LOCK TABLES `entrenamientos` WRITE;
/*!40000 ALTER TABLE `entrenamientos` DISABLE KEYS */;
/*!40000 ALTER TABLE `entrenamientos` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `historial_pagos`
--

DROP TABLE IF EXISTS `historial_pagos`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `historial_pagos` (
  `id` int NOT NULL AUTO_INCREMENT,
  `usuario_id` int NOT NULL,
  `suscripcion_id` int DEFAULT NULL,
  `monto` decimal(10,2) NOT NULL,
  `moneda` varchar(3) COLLATE utf8mb4_unicode_ci DEFAULT 'EUR',
  `metodo_pago` varchar(50) COLLATE utf8mb4_unicode_ci NOT NULL,
  `id_transaccion_externa` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `estado` enum('pendiente','completado','fallido','reembolsado') COLLATE utf8mb4_unicode_ci DEFAULT 'pendiente',
  `descripcion` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `metadata` json DEFAULT NULL,
  `fecha_pago` datetime DEFAULT CURRENT_TIMESTAMP,
  `fecha_actualizacion` datetime DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`),
  KEY `idx_usuario` (`usuario_id`),
  KEY `idx_suscripcion` (`suscripcion_id`),
  KEY `idx_transaccion` (`id_transaccion_externa`),
  KEY `idx_fecha` (`fecha_pago`),
  KEY `idx_estado` (`estado`),
  KEY `idx_metodo` (`metodo_pago`),
  CONSTRAINT `historial_pagos_ibfk_1` FOREIGN KEY (`usuario_id`) REFERENCES `usuarios` (`id`) ON DELETE CASCADE,
  CONSTRAINT `historial_pagos_ibfk_2` FOREIGN KEY (`suscripcion_id`) REFERENCES `suscripciones` (`id`) ON DELETE SET NULL
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `historial_pagos`
--

LOCK TABLES `historial_pagos` WRITE;
/*!40000 ALTER TABLE `historial_pagos` DISABLE KEYS */;
/*!40000 ALTER TABLE `historial_pagos` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `planes`
--

DROP TABLE IF EXISTS `planes`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `planes` (
  `id` int NOT NULL AUTO_INCREMENT,
  `nombre` varchar(100) COLLATE utf8mb4_unicode_ci NOT NULL,
  `descripcion` text COLLATE utf8mb4_unicode_ci,
  `precio_mensual` decimal(10,2) NOT NULL,
  `precio_anual` decimal(10,2) DEFAULT NULL,
  `duracion_dias` int NOT NULL DEFAULT '30',
  `caracteristicas` json DEFAULT NULL,
  `activo` tinyint(1) DEFAULT '1',
  `orden` int DEFAULT '0',
  `fecha_creacion` datetime DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`),
  KEY `idx_activo` (`activo`),
  KEY `idx_orden` (`orden`)
) ENGINE=InnoDB AUTO_INCREMENT=4 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `planes`
--

LOCK TABLES `planes` WRITE;
/*!40000 ALTER TABLE `planes` DISABLE KEYS */;
/*!40000 ALTER TABLE `planes` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `plato_alimentos`
--

DROP TABLE IF EXISTS `plato_alimentos`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `plato_alimentos` (
  `id` int NOT NULL AUTO_INCREMENT,
  `plato_id` int NOT NULL,
  `alimento_id` int NOT NULL,
  `cantidad_gramos` decimal(8,2) NOT NULL,
  `orden` int DEFAULT '1' COMMENT 'Orden en la lista de ingredientes',
  PRIMARY KEY (`id`),
  KEY `idx_plato` (`plato_id`),
  KEY `idx_alimento` (`alimento_id`),
  CONSTRAINT `plato_alimentos_ibfk_1` FOREIGN KEY (`plato_id`) REFERENCES `platos` (`id`) ON DELETE CASCADE,
  CONSTRAINT `plato_alimentos_ibfk_2` FOREIGN KEY (`alimento_id`) REFERENCES `alimentos` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=68 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `plato_alimentos`
--

LOCK TABLES `plato_alimentos` WRITE;
/*!40000 ALTER TABLE `plato_alimentos` DISABLE KEYS */;
/*!40000 ALTER TABLE `plato_alimentos` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `platos`
--

DROP TABLE IF EXISTS `platos`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `platos` (
  `id` int NOT NULL AUTO_INCREMENT,
  `nombre` varchar(150) COLLATE utf8mb4_unicode_ci NOT NULL,
  `descripcion` text COLLATE utf8mb4_unicode_ci,
  `instrucciones` text COLLATE utf8mb4_unicode_ci COMMENT 'Pasos para preparar el plato',
  `imagen_url` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `tipo_comida` enum('desayuno','media_manana','almuerzo','merienda','cena','post_entreno') COLLATE utf8mb4_unicode_ci NOT NULL,
  `tiempo_preparacion` int DEFAULT NULL COMMENT 'Minutos',
  `dificultad` enum('facil','media','dificil') COLLATE utf8mb4_unicode_ci DEFAULT 'media',
  `calorias_totales` decimal(8,2) DEFAULT NULL COMMENT 'Se calcula automticamente',
  `proteinas_totales` decimal(8,2) DEFAULT NULL,
  `carbohidratos_totales` decimal(8,2) DEFAULT NULL,
  `grasas_totales` decimal(8,2) DEFAULT NULL,
  `es_publico` tinyint(1) DEFAULT '1',
  `valoracion_promedio` decimal(3,2) DEFAULT '0.00',
  `total_valoraciones` int DEFAULT '0',
  `creador_id` int DEFAULT NULL COMMENT 'Puede ser entrenador o usuario',
  `fecha_creacion` datetime DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`),
  KEY `idx_tipo` (`tipo_comida`),
  KEY `idx_publico` (`es_publico`),
  KEY `idx_valoracion` (`valoracion_promedio`)
) ENGINE=InnoDB AUTO_INCREMENT=16 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `platos`
--

LOCK TABLES `platos` WRITE;
/*!40000 ALTER TABLE `platos` DISABLE KEYS */;
/*!40000 ALTER TABLE `platos` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `servicios`
--

DROP TABLE IF EXISTS `servicios`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `servicios` (
  `id` int NOT NULL AUTO_INCREMENT,
  `nombre` varchar(150) COLLATE utf8mb4_unicode_ci NOT NULL,
  `descripcion` text COLLATE utf8mb4_unicode_ci,
  `precio` decimal(8,2) NOT NULL DEFAULT '0.00',
  `tipo` enum('gratuito','suscripcion','extra') COLLATE utf8mb4_unicode_ci NOT NULL,
  `duracion_dias` int DEFAULT NULL,
  `incluye_entrenador` tinyint(1) DEFAULT '0',
  `incluye_dieta_personalizada` tinyint(1) DEFAULT '0',
  `incluye_entreno_personalizado` tinyint(1) DEFAULT '0',
  `activo` tinyint(1) DEFAULT '1',
  PRIMARY KEY (`id`),
  KEY `idx_tipo` (`tipo`),
  KEY `idx_activo` (`activo`)
) ENGINE=InnoDB AUTO_INCREMENT=11 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `servicios`
--

LOCK TABLES `servicios` WRITE;
/*!40000 ALTER TABLE `servicios` DISABLE KEYS */;
/*!40000 ALTER TABLE `servicios` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `suscripciones`
--

DROP TABLE IF EXISTS `suscripciones`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `suscripciones` (
  `id` int NOT NULL AUTO_INCREMENT,
  `usuario_id` int NOT NULL,
  `servicio_id` int NOT NULL,
  `entrenador_asignado_id` int DEFAULT NULL,
  `entrenamiento_presencial` tinyint(1) DEFAULT '0',
  `fecha_inicio` date NOT NULL,
  `fecha_fin` date DEFAULT NULL,
  `fecha_proximo_pago` date DEFAULT NULL,
  `auto_renovacion` tinyint(1) DEFAULT '1',
  `notas` text COLLATE utf8mb4_unicode_ci,
  `precio_mensual` decimal(8,2) NOT NULL DEFAULT '0.00',
  `estado` enum('activo','cancelado','expirado') COLLATE utf8mb4_unicode_ci DEFAULT 'activo',
  `metodo_pago` varchar(50) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `id_transaccion_externa` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL COMMENT 'ID de Stripe/PayPal',
  `ultimos_4_digitos` char(4) COLLATE utf8mb4_unicode_ci DEFAULT NULL COMMENT 'ltimos 4 dgitos tarjeta',
  `fecha_creacion` datetime DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`),
  KEY `idx_estado` (`estado`),
  KEY `idx_usuario` (`usuario_id`),
  KEY `idx_servicio` (`servicio_id`),
  KEY `idx_entrenador` (`entrenador_asignado_id`),
  KEY `idx_transaccion` (`id_transaccion_externa`),
  KEY `idx_metodo_pago` (`metodo_pago`),
  CONSTRAINT `suscripciones_ibfk_1` FOREIGN KEY (`usuario_id`) REFERENCES `usuarios` (`id`) ON DELETE CASCADE,
  CONSTRAINT `suscripciones_ibfk_2` FOREIGN KEY (`servicio_id`) REFERENCES `servicios` (`id`) ON DELETE RESTRICT,
  CONSTRAINT `suscripciones_ibfk_3` FOREIGN KEY (`entrenador_asignado_id`) REFERENCES `entrenadores` (`id`) ON DELETE SET NULL
) ENGINE=InnoDB AUTO_INCREMENT=16 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `suscripciones`
--

LOCK TABLES `suscripciones` WRITE;
/*!40000 ALTER TABLE `suscripciones` DISABLE KEYS */;
/*!40000 ALTER TABLE `suscripciones` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `usuarios`
--

DROP TABLE IF EXISTS `usuarios`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `usuarios` (
  `id` int NOT NULL AUTO_INCREMENT,
  `nombre` varchar(100) COLLATE utf8mb4_unicode_ci NOT NULL,
  `apellidos` varchar(150) COLLATE utf8mb4_unicode_ci NOT NULL,
  `email` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `password_hash` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `telefono` varchar(20) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `observaciones` text COLLATE utf8mb4_unicode_ci,
  `objetivo` enum('ganar_masa','perder_peso','resistencia','cuidar_alimentacion','tonificar') COLLATE utf8mb4_unicode_ci DEFAULT 'cuidar_alimentacion',
  `sexo` enum('masculino','femenino','otro') COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `fecha_nacimiento` date DEFAULT NULL,
  `edad` int DEFAULT NULL,
  `peso_actual` decimal(5,2) DEFAULT NULL COMMENT 'Peso en kg',
  `altura` int DEFAULT NULL COMMENT 'Altura en cm',
  `peso_objetivo` decimal(5,2) DEFAULT NULL COMMENT 'Peso deseado en kg',
  `porcentaje_grasa` decimal(4,2) DEFAULT NULL COMMENT 'Porcentaje de grasa corporal',
  `imc` decimal(4,2) DEFAULT NULL COMMENT 'ndice de masa corporal calculado',
  `nivel_actividad` enum('sedentario','ligero','moderado','activo','muy_activo') COLLATE utf8mb4_unicode_ci DEFAULT 'ligero',
  `calorias_diarias` int DEFAULT NULL COMMENT 'Caloras recomendadas',
  `notas_salud` text COLLATE utf8mb4_unicode_ci COMMENT 'Alergias, lesiones, condiciones mdicas',
  `es_premium` tinyint(1) DEFAULT '0',
  `fecha_premium` date DEFAULT NULL COMMENT 'Fecha en que se hizo premium',
  `rol` enum('cliente','admin') COLLATE utf8mb4_unicode_ci DEFAULT 'cliente',
  `fecha_registro` datetime DEFAULT CURRENT_TIMESTAMP,
  `ultima_conexion` datetime DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `email` (`email`),
  KEY `idx_email` (`email`),
  KEY `idx_premium` (`es_premium`),
  KEY `idx_objetivo` (`objetivo`),
  KEY `idx_rol` (`rol`),
  KEY `idx_sexo` (`sexo`),
  KEY `idx_edad` (`edad`),
  KEY `idx_nivel_actividad` (`nivel_actividad`)
) ENGINE=InnoDB AUTO_INCREMENT=20 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `usuarios`
--

LOCK TABLES `usuarios` WRITE;
/*!40000 ALTER TABLE `usuarios` DISABLE KEYS */;
/*!40000 ALTER TABLE `usuarios` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `valoraciones_entrenador`
--

DROP TABLE IF EXISTS `valoraciones_entrenador`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `valoraciones_entrenador` (
  `id` int NOT NULL AUTO_INCREMENT,
  `entrenador_id` int NOT NULL,
  `cliente_id` int NOT NULL,
  `estrellas` int NOT NULL,
  `comentario` text COLLATE utf8mb4_unicode_ci,
  `fecha` datetime DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`),
  UNIQUE KEY `unique_entrenador_cliente` (`entrenador_id`,`cliente_id`),
  KEY `idx_entrenador` (`entrenador_id`),
  KEY `idx_cliente` (`cliente_id`),
  CONSTRAINT `valoraciones_entrenador_ibfk_1` FOREIGN KEY (`entrenador_id`) REFERENCES `entrenadores` (`id`) ON DELETE CASCADE,
  CONSTRAINT `valoraciones_entrenador_ibfk_2` FOREIGN KEY (`cliente_id`) REFERENCES `usuarios` (`id`) ON DELETE CASCADE,
  CONSTRAINT `valoraciones_entrenador_chk_1` CHECK ((`estrellas` between 1 and 5))
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `valoraciones_entrenador`
--

LOCK TABLES `valoraciones_entrenador` WRITE;
/*!40000 ALTER TABLE `valoraciones_entrenador` DISABLE KEYS */;
/*!40000 ALTER TABLE `valoraciones_entrenador` ENABLE KEYS */;
UNLOCK TABLES;
/*!50003 SET @saved_cs_client      = @@character_set_client */ ;
/*!50003 SET @saved_cs_results     = @@character_set_results */ ;
/*!50003 SET @saved_col_connection = @@collation_connection */ ;
/*!50003 SET character_set_client  = latin1 */ ;
/*!50003 SET character_set_results = latin1 */ ;
/*!50003 SET collation_connection  = latin1_swedish_ci */ ;
/*!50003 SET @saved_sql_mode       = @@sql_mode */ ;
/*!50003 SET sql_mode              = 'ONLY_FULL_GROUP_BY,STRICT_TRANS_TABLES,NO_ZERO_IN_DATE,NO_ZERO_DATE,ERROR_FOR_DIVISION_BY_ZERO,NO_ENGINE_SUBSTITUTION' */ ;
DELIMITER ;;
/*!50003 CREATE*/ /*!50017 DEFINER=`root`@`localhost`*/ /*!50003 TRIGGER `after_valoracion_entrenador_insert` AFTER INSERT ON `valoraciones_entrenador` FOR EACH ROW BEGIN
    UPDATE entrenadores 
    SET valoracion_promedio = (
        SELECT AVG(estrellas) FROM valoraciones_entrenador WHERE entrenador_id = NEW.entrenador_id
    ),
    total_valoraciones = (
        SELECT COUNT(*) FROM valoraciones_entrenador WHERE entrenador_id = NEW.entrenador_id
    )
    WHERE id = NEW.entrenador_id;
END */;;
DELIMITER ;
/*!50003 SET sql_mode              = @saved_sql_mode */ ;
/*!50003 SET character_set_client  = @saved_cs_client */ ;
/*!50003 SET character_set_results = @saved_cs_results */ ;
/*!50003 SET collation_connection  = @saved_col_connection */ ;

--
-- Table structure for table `valoraciones_plato`
--

DROP TABLE IF EXISTS `valoraciones_plato`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `valoraciones_plato` (
  `id` int NOT NULL AUTO_INCREMENT,
  `dieta_alimento_id` int NOT NULL,
  `usuario_id` int NOT NULL,
  `estrellas` int NOT NULL,
  `comentario` text COLLATE utf8mb4_unicode_ci,
  `facilidad_preparacion` int DEFAULT NULL,
  `sabor` int DEFAULT NULL,
  `fecha` datetime DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`),
  UNIQUE KEY `unique_plato_usuario` (`dieta_alimento_id`,`usuario_id`),
  KEY `idx_plato` (`dieta_alimento_id`),
  KEY `idx_usuario` (`usuario_id`),
  CONSTRAINT `valoraciones_plato_ibfk_1` FOREIGN KEY (`dieta_alimento_id`) REFERENCES `dieta_alimentos` (`id`) ON DELETE CASCADE,
  CONSTRAINT `valoraciones_plato_ibfk_2` FOREIGN KEY (`usuario_id`) REFERENCES `usuarios` (`id`) ON DELETE CASCADE,
  CONSTRAINT `valoraciones_plato_chk_1` CHECK ((`estrellas` between 1 and 5)),
  CONSTRAINT `valoraciones_plato_chk_2` CHECK ((`facilidad_preparacion` between 1 and 5)),
  CONSTRAINT `valoraciones_plato_chk_3` CHECK ((`sabor` between 1 and 5))
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `valoraciones_plato`
--

LOCK TABLES `valoraciones_plato` WRITE;
/*!40000 ALTER TABLE `valoraciones_plato` DISABLE KEYS */;
/*!40000 ALTER TABLE `valoraciones_plato` ENABLE KEYS */;
UNLOCK TABLES;
/*!50003 SET @saved_cs_client      = @@character_set_client */ ;
/*!50003 SET @saved_cs_results     = @@character_set_results */ ;
/*!50003 SET @saved_col_connection = @@collation_connection */ ;
/*!50003 SET character_set_client  = latin1 */ ;
/*!50003 SET character_set_results = latin1 */ ;
/*!50003 SET collation_connection  = latin1_swedish_ci */ ;
/*!50003 SET @saved_sql_mode       = @@sql_mode */ ;
/*!50003 SET sql_mode              = 'ONLY_FULL_GROUP_BY,STRICT_TRANS_TABLES,NO_ZERO_IN_DATE,NO_ZERO_DATE,ERROR_FOR_DIVISION_BY_ZERO,NO_ENGINE_SUBSTITUTION' */ ;
DELIMITER ;;
/*!50003 CREATE*/ /*!50017 DEFINER=`root`@`localhost`*/ /*!50003 TRIGGER `after_valoracion_plato_insert` AFTER INSERT ON `valoraciones_plato` FOR EACH ROW BEGIN
    UPDATE dieta_alimentos 
    SET valoracion_promedio = (
        SELECT AVG(estrellas) FROM valoraciones_plato WHERE dieta_alimento_id = NEW.dieta_alimento_id
    ),
    total_valoraciones = (
        SELECT COUNT(*) FROM valoraciones_plato WHERE dieta_alimento_id = NEW.dieta_alimento_id
    )
    WHERE id = NEW.dieta_alimento_id;
END */;;
DELIMITER ;
/*!50003 SET sql_mode              = @saved_sql_mode */ ;
/*!50003 SET character_set_client  = @saved_cs_client */ ;
/*!50003 SET character_set_results = @saved_cs_results */ ;
/*!50003 SET collation_connection  = @saved_col_connection */ ;
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

-- Dump completed on 2025-11-29 22:18:16
