-- MySQL dump 10.13  Distrib 8.4.8, for Linux (x86_64)
--
-- Host: localhost    Database: ultimatefitness_db
-- ------------------------------------------------------
-- Server version	8.4.8

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!50503 SET NAMES utf8mb4 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;

--
-- Table structure for table `alimentos`
--

DROP TABLE IF EXISTS `alimentos`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `alimentos` (
  `id` int NOT NULL AUTO_INCREMENT,
  `nombre` varchar(150) COLLATE utf8mb4_unicode_ci NOT NULL,
  `tipo_alimento` varchar(20) COLLATE utf8mb4_unicode_ci NOT NULL,
  `descripcion` longtext COLLATE utf8mb4_unicode_ci,
  `calorias` decimal(8,2) NOT NULL,
  `proteinas` decimal(6,2) NOT NULL,
  `carbohidratos` decimal(6,2) NOT NULL,
  `grasas` decimal(6,2) NOT NULL,
  `precio_kg` decimal(6,2) NOT NULL,
  `imagen_url` varchar(500) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `idx_nombre` (`nombre`),
  KEY `idx_tipo` (`tipo_alimento`)
) ENGINE=InnoDB AUTO_INCREMENT=77 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `alimentos`
--

LOCK TABLES `alimentos` WRITE;
/*!40000 ALTER TABLE `alimentos` DISABLE KEYS */;
/*!40000 ALTER TABLE `alimentos` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `blog_posts`
--

DROP TABLE IF EXISTS `blog_posts`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `blog_posts` (
  `id` int NOT NULL AUTO_INCREMENT,
  `titulo` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `slug` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `extracto` longtext COLLATE utf8mb4_unicode_ci,
  `contenido` longtext COLLATE utf8mb4_unicode_ci NOT NULL,
  `imagen_portada` varchar(500) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `categoria` varchar(20) COLLATE utf8mb4_unicode_ci NOT NULL DEFAULT 'noticias',
  `es_premium` tinyint(1) NOT NULL DEFAULT '0',
  `destacado` tinyint(1) NOT NULL DEFAULT '0',
  `fecha_publicacion` datetime DEFAULT NULL,
  `fecha_creacion` datetime NOT NULL DEFAULT CURRENT_TIMESTAMP,
  `fecha_actualizacion` datetime NOT NULL DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`),
  UNIQUE KEY `UNIQ_78B2F932989D9B62` (`slug`),
  KEY `idx_categoria` (`categoria`),
  KEY `idx_premium` (`es_premium`),
  KEY `idx_destacado` (`destacado`),
  KEY `idx_fecha_publicacion` (`fecha_publicacion`)
) ENGINE=InnoDB AUTO_INCREMENT=14 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `blog_posts`
--

LOCK TABLES `blog_posts` WRITE;
/*!40000 ALTER TABLE `blog_posts` DISABLE KEYS */;
/*!40000 ALTER TABLE `blog_posts` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `calendario_usuario`
--

DROP TABLE IF EXISTS `calendario_usuario`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `calendario_usuario` (
  `id` int NOT NULL AUTO_INCREMENT,
  `usuario_id` int NOT NULL,
  `dieta_id` int DEFAULT NULL,
  `entrenamiento_id` int DEFAULT NULL,
  `dia_semana` varchar(20) COLLATE utf8mb4_unicode_ci NOT NULL,
  `completado` tinyint(1) NOT NULL DEFAULT '0',
  `fecha_asignacion` date NOT NULL,
  `notas` longtext COLLATE utf8mb4_unicode_ci,
  PRIMARY KEY (`id`),
  KEY `idx_usuario` (`usuario_id`),
  KEY `idx_dia` (`dia_semana`),
  KEY `IDX_705DADA7615C2CBC` (`dieta_id`),
  KEY `IDX_705DADA7DA1C17D8` (`entrenamiento_id`),
  CONSTRAINT `fk_cal_dieta` FOREIGN KEY (`dieta_id`) REFERENCES `dietas` (`id`) ON DELETE SET NULL,
  CONSTRAINT `fk_cal_entrenamiento` FOREIGN KEY (`entrenamiento_id`) REFERENCES `entrenamientos` (`id`) ON DELETE SET NULL,
  CONSTRAINT `fk_cal_usuario` FOREIGN KEY (`usuario_id`) REFERENCES `usuarios` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=18 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `calendario_usuario`
--

LOCK TABLES `calendario_usuario` WRITE;
/*!40000 ALTER TABLE `calendario_usuario` DISABLE KEYS */;
/*!40000 ALTER TABLE `calendario_usuario` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `dias_ejercicios`
--

DROP TABLE IF EXISTS `dias_ejercicios`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `dias_ejercicios` (
  `id` int NOT NULL AUTO_INCREMENT,
  `dia_entrenamiento_id` int NOT NULL,
  `ejercicio_id` int NOT NULL,
  `series` int NOT NULL DEFAULT '3',
  `repeticiones` int NOT NULL DEFAULT '12',
  `descanso_segundos` int NOT NULL DEFAULT '60',
  `notas` longtext COLLATE utf8mb4_unicode_ci,
  `orden` int NOT NULL DEFAULT '0',
  PRIMARY KEY (`id`),
  KEY `idx_dia_entrenamiento` (`dia_entrenamiento_id`),
  KEY `idx_ejercicio` (`ejercicio_id`),
  CONSTRAINT `fk_dia_ejercicio_dia` FOREIGN KEY (`dia_entrenamiento_id`) REFERENCES `dias_entrenamiento` (`id`) ON DELETE CASCADE,
  CONSTRAINT `fk_dia_ejercicio_ejercicio` FOREIGN KEY (`ejercicio_id`) REFERENCES `ejercicios` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=29 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `dias_ejercicios`
--

LOCK TABLES `dias_ejercicios` WRITE;
/*!40000 ALTER TABLE `dias_ejercicios` DISABLE KEYS */;
/*!40000 ALTER TABLE `dias_ejercicios` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `dias_entrenamiento`
--

DROP TABLE IF EXISTS `dias_entrenamiento`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `dias_entrenamiento` (
  `id` int NOT NULL AUTO_INCREMENT,
  `entrenamiento_id` int NOT NULL,
  `dia_semana` int NOT NULL,
  `concepto` varchar(100) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `es_descanso` tinyint(1) NOT NULL DEFAULT '0',
  `orden` int NOT NULL DEFAULT '0',
  PRIMARY KEY (`id`),
  KEY `idx_entrenamiento` (`entrenamiento_id`),
  KEY `idx_dia_semana` (`dia_semana`),
  CONSTRAINT `fk_dia_entrenamiento_entrenamiento` FOREIGN KEY (`entrenamiento_id`) REFERENCES `entrenamientos` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=22 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `dias_entrenamiento`
--

LOCK TABLES `dias_entrenamiento` WRITE;
/*!40000 ALTER TABLE `dias_entrenamiento` DISABLE KEYS */;
/*!40000 ALTER TABLE `dias_entrenamiento` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `dieta_platos`
--

DROP TABLE IF EXISTS `dieta_platos`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `dieta_platos` (
  `id` int NOT NULL AUTO_INCREMENT,
  `dieta_id` int NOT NULL,
  `plato_id` int NOT NULL,
  `dia_semana` enum('lunes','martes','miercoles','jueves','viernes','sabado','domingo') COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `tipo_comida` enum('desayuno','media_manana','almuerzo','merienda','cena','post_entreno') COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `orden` int NOT NULL DEFAULT '1',
  `notas` longtext COLLATE utf8mb4_unicode_ci,
  PRIMARY KEY (`id`),
  UNIQUE KEY `unique_dieta_dia_comida_orden` (`dieta_id`,`dia_semana`,`tipo_comida`,`orden`),
  KEY `idx_dieta` (`dieta_id`),
  KEY `idx_plato` (`plato_id`),
  KEY `idx_dia_tipo` (`dia_semana`,`tipo_comida`),
  CONSTRAINT `fk_dieta_plato_dieta` FOREIGN KEY (`dieta_id`) REFERENCES `dietas` (`id`) ON DELETE CASCADE,
  CONSTRAINT `fk_dieta_plato_plato` FOREIGN KEY (`plato_id`) REFERENCES `platos` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=64 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `dieta_platos`
--

LOCK TABLES `dieta_platos` WRITE;
/*!40000 ALTER TABLE `dieta_platos` DISABLE KEYS */;
/*!40000 ALTER TABLE `dieta_platos` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `dietas`
--

DROP TABLE IF EXISTS `dietas`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `dietas` (
  `id` int NOT NULL AUTO_INCREMENT,
  `creador_id` int DEFAULT NULL,
  `asignado_a_usuario_id` int DEFAULT NULL,
  `nombre` varchar(150) COLLATE utf8mb4_unicode_ci NOT NULL,
  `descripcion` longtext COLLATE utf8mb4_unicode_ci,
  `calorias_totales` int DEFAULT NULL,
  `proteinas_totales` decimal(6,2) DEFAULT NULL,
  `carbohidratos_totales` decimal(6,2) DEFAULT NULL,
  `grasas_totales` decimal(6,2) DEFAULT NULL,
  `es_publica` tinyint(1) NOT NULL DEFAULT '1',
  `valoracion_promedio` decimal(3,2) NOT NULL DEFAULT '0.00',
  `total_valoraciones` int NOT NULL DEFAULT '0',
  `fecha_creacion` datetime NOT NULL DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`),
  KEY `idx_creador` (`creador_id`),
  KEY `idx_publica` (`es_publica`),
  KEY `idx_dieta_asignado` (`asignado_a_usuario_id`),
  CONSTRAINT `fk_dieta_asignado_usuario` FOREIGN KEY (`asignado_a_usuario_id`) REFERENCES `usuarios` (`id`) ON DELETE CASCADE,
  CONSTRAINT `fk_dieta_creador` FOREIGN KEY (`creador_id`) REFERENCES `entrenadores` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=11 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `dietas`
--

LOCK TABLES `dietas` WRITE;
/*!40000 ALTER TABLE `dietas` DISABLE KEYS */;
/*!40000 ALTER TABLE `dietas` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `doctrine_migration_versions`
--

DROP TABLE IF EXISTS `doctrine_migration_versions`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `doctrine_migration_versions` (
  `version` varchar(191) COLLATE utf8mb3_unicode_ci NOT NULL,
  `executed_at` datetime DEFAULT NULL,
  `execution_time` int DEFAULT NULL,
  PRIMARY KEY (`version`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb3 COLLATE=utf8mb3_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `doctrine_migration_versions`
--

LOCK TABLES `doctrine_migration_versions` WRITE;
/*!40000 ALTER TABLE `doctrine_migration_versions` DISABLE KEYS */;
/*!40000 ALTER TABLE `doctrine_migration_versions` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `ejercicios`
--

DROP TABLE IF EXISTS `ejercicios`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `ejercicios` (
  `id` int NOT NULL AUTO_INCREMENT,
  `nombre` varchar(150) COLLATE utf8mb4_unicode_ci NOT NULL,
  `tipo` varchar(20) COLLATE utf8mb4_unicode_ci NOT NULL,
  `grupo_muscular` varchar(100) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `descripcion` longtext COLLATE utf8mb4_unicode_ci,
  `video_url` varchar(500) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `nivel_dificultad` varchar(20) COLLATE utf8mb4_unicode_ci NOT NULL DEFAULT 'intermedio',
  `valoracion_promedio` decimal(3,2) NOT NULL DEFAULT '0.00',
  `total_valoraciones` int NOT NULL DEFAULT '0',
  PRIMARY KEY (`id`),
  KEY `idx_tipo` (`tipo`),
  KEY `idx_nivel` (`nivel_dificultad`)
) ENGINE=InnoDB AUTO_INCREMENT=65 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `ejercicios`
--

LOCK TABLES `ejercicios` WRITE;
/*!40000 ALTER TABLE `ejercicios` DISABLE KEYS */;
/*!40000 ALTER TABLE `ejercicios` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `entrenadores`
--

DROP TABLE IF EXISTS `entrenadores`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `entrenadores` (
  `id` int NOT NULL AUTO_INCREMENT,
  `nombre` varchar(100) COLLATE utf8mb4_unicode_ci NOT NULL,
  `apellidos` varchar(150) COLLATE utf8mb4_unicode_ci NOT NULL,
  `email` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `password_hash` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `telefono` varchar(20) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `especialidad` varchar(20) COLLATE utf8mb4_unicode_ci NOT NULL DEFAULT 'ambos',
  `certificacion` longtext COLLATE utf8mb4_unicode_ci,
  `anos_experiencia` int NOT NULL DEFAULT '0',
  `biografia` longtext COLLATE utf8mb4_unicode_ci,
  `cv_url` varchar(500) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `foto_url` varchar(500) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `valoracion_promedio` decimal(3,2) NOT NULL DEFAULT '0.00',
  `total_valoraciones` int NOT NULL DEFAULT '0',
  `precio_sesion_presencial` decimal(6,2) NOT NULL DEFAULT '35.00',
  `activo` tinyint(1) NOT NULL DEFAULT '1',
  `estado_aplicacion` varchar(20) COLLATE utf8mb4_unicode_ci NOT NULL DEFAULT 'aprobado',
  `motivo_rechazo` longtext COLLATE utf8mb4_unicode_ci,
  `fecha_aplicacion` datetime DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `UNIQ_E15FDEE2E7927C74` (`email`),
  KEY `idx_email` (`email`),
  KEY `idx_activo` (`activo`),
  KEY `idx_estado_aplicacion` (`estado_aplicacion`),
  KEY `idx_anos_experiencia` (`anos_experiencia`)
) ENGINE=InnoDB AUTO_INCREMENT=11 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `entrenadores`
--

LOCK TABLES `entrenadores` WRITE;
/*!40000 ALTER TABLE `entrenadores` DISABLE KEYS */;
/*!40000 ALTER TABLE `entrenadores` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `entrenamiento_ejercicios`
--

DROP TABLE IF EXISTS `entrenamiento_ejercicios`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `entrenamiento_ejercicios` (
  `id` int NOT NULL AUTO_INCREMENT,
  `entrenamiento_id` int NOT NULL,
  `ejercicio_id` int NOT NULL,
  `orden` int NOT NULL,
  `series` int DEFAULT NULL,
  `repeticiones` varchar(20) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `descanso_segundos` int DEFAULT NULL,
  `notas` longtext COLLATE utf8mb4_unicode_ci,
  PRIMARY KEY (`id`),
  KEY `idx_entrenamiento` (`entrenamiento_id`),
  KEY `idx_ejercicio` (`ejercicio_id`),
  CONSTRAINT `fk_entren_ejercicio_ejercicio` FOREIGN KEY (`ejercicio_id`) REFERENCES `ejercicios` (`id`) ON DELETE CASCADE,
  CONSTRAINT `fk_entren_ejercicio_entrenamiento` FOREIGN KEY (`entrenamiento_id`) REFERENCES `entrenamientos` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=61 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `entrenamiento_ejercicios`
--

LOCK TABLES `entrenamiento_ejercicios` WRITE;
/*!40000 ALTER TABLE `entrenamiento_ejercicios` DISABLE KEYS */;
/*!40000 ALTER TABLE `entrenamiento_ejercicios` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `entrenamientos`
--

DROP TABLE IF EXISTS `entrenamientos`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `entrenamientos` (
  `id` int NOT NULL AUTO_INCREMENT,
  `creador_id` int DEFAULT NULL,
  `creador_usuario_id` int DEFAULT NULL,
  `asignado_ausuario_id` int DEFAULT NULL,
  `nombre` varchar(150) COLLATE utf8mb4_unicode_ci NOT NULL,
  `descripcion` longtext COLLATE utf8mb4_unicode_ci,
  `tipo` varchar(20) COLLATE utf8mb4_unicode_ci NOT NULL,
  `duracion_minutos` int DEFAULT NULL,
  `nivel_dificultad` varchar(20) COLLATE utf8mb4_unicode_ci NOT NULL DEFAULT 'intermedio',
  `es_publico` tinyint(1) NOT NULL DEFAULT '1',
  `valoracion_promedio` decimal(3,2) NOT NULL DEFAULT '0.00',
  `total_valoraciones` int NOT NULL DEFAULT '0',
  `fecha_creacion` datetime NOT NULL DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`),
  KEY `idx_creador` (`creador_id`),
  KEY `idx_tipo` (`tipo`),
  KEY `idx_publico` (`es_publico`),
  KEY `IDX_24DCB62BC5745869` (`creador_usuario_id`),
  KEY `IDX_24DCB62B6B62C1A2` (`asignado_ausuario_id`),
  CONSTRAINT `FK_24DCB62B6B62C1A2` FOREIGN KEY (`asignado_ausuario_id`) REFERENCES `usuarios` (`id`) ON DELETE CASCADE,
  CONSTRAINT `fk_entrenamiento_creador` FOREIGN KEY (`creador_id`) REFERENCES `entrenadores` (`id`) ON DELETE CASCADE,
  CONSTRAINT `fk_entrenamiento_creador_usuario` FOREIGN KEY (`creador_usuario_id`) REFERENCES `usuarios` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=12 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `entrenamientos`
--

LOCK TABLES `entrenamientos` WRITE;
/*!40000 ALTER TABLE `entrenamientos` DISABLE KEYS */;
/*!40000 ALTER TABLE `entrenamientos` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `historial_pagos`
--

DROP TABLE IF EXISTS `historial_pagos`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `historial_pagos` (
  `id` int NOT NULL AUTO_INCREMENT,
  `usuario_id` int NOT NULL,
  `suscripcion_id` int DEFAULT NULL,
  `monto` decimal(10,2) NOT NULL,
  `moneda` varchar(3) COLLATE utf8mb4_unicode_ci NOT NULL DEFAULT 'EUR',
  `metodo_pago` varchar(50) COLLATE utf8mb4_unicode_ci NOT NULL,
  `id_transaccion_externa` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `estado` varchar(20) COLLATE utf8mb4_unicode_ci NOT NULL DEFAULT 'pendiente',
  `descripcion` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `metadata` json DEFAULT NULL,
  `fecha_pago` datetime NOT NULL,
  `fecha_actualizacion` datetime NOT NULL,
  PRIMARY KEY (`id`),
  KEY `idx_usuario` (`usuario_id`),
  KEY `IDX_28FB96FB189E045D` (`suscripcion_id`),
  KEY `idx_transaccion` (`id_transaccion_externa`),
  KEY `idx_estado` (`estado`),
  KEY `idx_fecha` (`fecha_pago`),
  CONSTRAINT `fk_historial_pago_suscripcion` FOREIGN KEY (`suscripcion_id`) REFERENCES `suscripciones` (`id`) ON DELETE SET NULL,
  CONSTRAINT `fk_historial_pago_usuario` FOREIGN KEY (`usuario_id`) REFERENCES `usuarios` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=13 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `historial_pagos`
--

LOCK TABLES `historial_pagos` WRITE;
/*!40000 ALTER TABLE `historial_pagos` DISABLE KEYS */;
/*!40000 ALTER TABLE `historial_pagos` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `plato_alimentos`
--

DROP TABLE IF EXISTS `plato_alimentos`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `plato_alimentos` (
  `id` int NOT NULL AUTO_INCREMENT,
  `plato_id` int NOT NULL,
  `alimento_id` int NOT NULL,
  `cantidad_gramos` decimal(8,2) NOT NULL,
  `orden` int NOT NULL DEFAULT '1',
  PRIMARY KEY (`id`),
  KEY `idx_plato` (`plato_id`),
  KEY `idx_alimento` (`alimento_id`),
  CONSTRAINT `fk_plato_alimento_alimento` FOREIGN KEY (`alimento_id`) REFERENCES `alimentos` (`id`) ON DELETE CASCADE,
  CONSTRAINT `fk_plato_alimento_plato` FOREIGN KEY (`plato_id`) REFERENCES `platos` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=57 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `plato_alimentos`
--

LOCK TABLES `plato_alimentos` WRITE;
/*!40000 ALTER TABLE `plato_alimentos` DISABLE KEYS */;
/*!40000 ALTER TABLE `plato_alimentos` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `platos`
--

DROP TABLE IF EXISTS `platos`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `platos` (
  `id` int NOT NULL AUTO_INCREMENT,
  `creador_id` int DEFAULT NULL,
  `nombre` varchar(150) COLLATE utf8mb4_unicode_ci NOT NULL,
  `descripcion` longtext COLLATE utf8mb4_unicode_ci,
  `instrucciones` longtext COLLATE utf8mb4_unicode_ci,
  `imagen_url` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `tipo_comida` enum('desayuno','media_manana','almuerzo','merienda','cena','post_entreno') COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `tiempo_preparacion` int DEFAULT NULL,
  `dificultad` enum('facil','media','dificil') COLLATE utf8mb4_unicode_ci DEFAULT 'media',
  `calorias_totales` decimal(8,2) DEFAULT NULL,
  `proteinas_totales` decimal(8,2) DEFAULT NULL,
  `carbohidratos_totales` decimal(8,2) DEFAULT NULL,
  `grasas_totales` decimal(8,2) DEFAULT NULL,
  `es_publico` tinyint(1) NOT NULL DEFAULT '1',
  `valoracion_promedio` decimal(3,2) NOT NULL DEFAULT '0.00',
  `total_valoraciones` int NOT NULL DEFAULT '0',
  `fecha_creacion` datetime NOT NULL DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`),
  KEY `idx_tipo` (`tipo_comida`),
  KEY `idx_publico` (`es_publico`),
  KEY `idx_valoracion` (`valoracion_promedio`)
) ENGINE=InnoDB AUTO_INCREMENT=26 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `platos`
--

LOCK TABLES `platos` WRITE;
/*!40000 ALTER TABLE `platos` DISABLE KEYS */;
/*!40000 ALTER TABLE `platos` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `suscripciones`
--

DROP TABLE IF EXISTS `suscripciones`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `suscripciones` (
  `id` int NOT NULL AUTO_INCREMENT,
  `usuario_id` int NOT NULL,
  `entrenador_asignado_id` int DEFAULT NULL,
  `fecha_inicio` date NOT NULL,
  `fecha_fin` date DEFAULT NULL,
  `precio_mensual` decimal(8,2) NOT NULL DEFAULT '0.00',
  `estado` varchar(20) COLLATE utf8mb4_unicode_ci NOT NULL DEFAULT 'activo',
  `auto_renovacion` tinyint(1) NOT NULL DEFAULT '1',
  `activa` tinyint(1) NOT NULL DEFAULT '1',
  `fecha_creacion` datetime NOT NULL,
  PRIMARY KEY (`id`),
  KEY `idx_usuario` (`usuario_id`),
  KEY `idx_estado` (`estado`),
  KEY `idx_activa` (`activa`),
  KEY `IDX_FEE27D96944BA14C` (`entrenador_asignado_id`),
  CONSTRAINT `fk_suscripcion_entrenador` FOREIGN KEY (`entrenador_asignado_id`) REFERENCES `entrenadores` (`id`) ON DELETE SET NULL,
  CONSTRAINT `fk_suscripcion_usuario` FOREIGN KEY (`usuario_id`) REFERENCES `usuarios` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=13 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `suscripciones`
--

LOCK TABLES `suscripciones` WRITE;
/*!40000 ALTER TABLE `suscripciones` DISABLE KEYS */;
/*!40000 ALTER TABLE `suscripciones` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `usuarios`
--

DROP TABLE IF EXISTS `usuarios`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `usuarios` (
  `id` int NOT NULL AUTO_INCREMENT,
  `entrenador_id` int DEFAULT NULL,
  `nombre` varchar(100) COLLATE utf8mb4_unicode_ci NOT NULL,
  `apellidos` varchar(150) COLLATE utf8mb4_unicode_ci NOT NULL,
  `email` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `password_hash` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `telefono` varchar(20) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `observaciones` longtext COLLATE utf8mb4_unicode_ci,
  `objetivo` varchar(25) COLLATE utf8mb4_unicode_ci NOT NULL DEFAULT 'cuidar_alimentacion',
  `fecha_nacimiento` date DEFAULT NULL,
  `edad` int DEFAULT NULL,
  `peso_actual` decimal(5,2) DEFAULT NULL,
  `altura` int DEFAULT NULL,
  `peso_objetivo` decimal(5,2) DEFAULT NULL,
  `porcentaje_grasa` decimal(4,2) DEFAULT NULL,
  `imc` decimal(4,2) DEFAULT NULL,
  `nivel_actividad` varchar(20) COLLATE utf8mb4_unicode_ci NOT NULL DEFAULT 'ligero',
  `calorias_diarias` int DEFAULT NULL,
  `notas_salud` longtext COLLATE utf8mb4_unicode_ci,
  `es_premium` tinyint(1) NOT NULL DEFAULT '0',
  `fecha_premium` date DEFAULT NULL,
  `rol` varchar(50) COLLATE utf8mb4_unicode_ci NOT NULL DEFAULT 'cliente',
  `fecha_registro` datetime NOT NULL DEFAULT CURRENT_TIMESTAMP,
  `ultima_conexion` datetime DEFAULT NULL,
  `sexo` varchar(10) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `reset_token` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `reset_token_expires` datetime DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `UNIQ_EF687F2E7927C74` (`email`),
  KEY `idx_email` (`email`),
  KEY `idx_premium` (`es_premium`),
  KEY `idx_objetivo` (`objetivo`),
  KEY `idx_rol` (`rol`),
  KEY `idx_edad` (`edad`),
  KEY `idx_nivel_actividad` (`nivel_actividad`),
  KEY `IDX_EF687F24FE90CDB` (`entrenador_id`),
  CONSTRAINT `fk_usuario_entrenador` FOREIGN KEY (`entrenador_id`) REFERENCES `entrenadores` (`id`) ON DELETE SET NULL
) ENGINE=InnoDB AUTO_INCREMENT=15 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `usuarios`
--

LOCK TABLES `usuarios` WRITE;
/*!40000 ALTER TABLE `usuarios` DISABLE KEYS */;
/*!40000 ALTER TABLE `usuarios` ENABLE KEYS */;
UNLOCK TABLES;
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

-- Dump completed on 2026-02-03 20:46:56
